
      /* Add styles for the body of the page */
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

      /* Add styles for the header */
      header {
        background-color: #333;
        color: #fff;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        align-items: center;
    }

    .header {
        padding: 15px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: #2d3336;
        
        display:flex;
        
    }
    .header h1 {
        display:inline-block;
        font-size: 48px;
        background-color: #4eb3e5;
        /* padding-left: 10px; */
        padding-right: 20px;
        color: #2d3336;
        
    }

    
      /* Add styles for the logo */
      /* .logo {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
    } */

      /* Add styles for the navigation menu */
      nav {
        display: flex;
    }

     .header nav a {
        color: #fff;
        padding: 20px;
        font-size: 20px;
    }

      .hero {
        height: 120px;
        width: 100%;
        margin-bottom: 20px;
        background-image: url("../images/red-spider-lily.jpg");
        background-size: cover;
        background-position: center;
    }
      /* Add styles for the main content */
      main {
        padding: 20px;
    }

      /* Add styles for the about section */
      .about {
        background-color: #f2f2f2;
        padding: 20px;
    }

      /* Add styles for the about section images */
      .about-image {
        float: left;
        margin-right: 20px;
        width: 30%;
    }

    .first-proj{
        flex-wrap: wrap;
    }
    
    .first-proj img{
        padding-bottom: 5px;
        display: block;
        width: 99.7%;
        position: relative;
        z-index: 1;
    }

    .card {
        display: flex;
        flex-wrap: wrap;
      }
    
    .card img {
        padding: 2px;
        float:left;
        display: block;
        width: 49.6%;
        position: relative;
        z-index: 1;
      }  
    
      /* Add styles for the skills section */
      .skills {
        padding: 20px;
    }

      /* Add styles for the work section */
      .work {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
    }

      /* Add styles for the project images */
      .project-image {
        max-width: 100%;
        height: auto;
        width: 30%;
        margin-right: 20px;
        margin-bottom: 20px;
    }

      /* Add styles for the footer */
      footer {
        background-color: #333;
        color: #fff;
        display: flex;
        justify-content: center;
        padding: 20px;
        align-items: center;
    }

      /* Add media queries for responsive design */
      @media only screen and (max-width: 600px) {
        header {
          flex-direction: column;
          text-align: center;
        }

        nav {
          justify-content: center;
        }

        .project-image, .about-image {
          width: 100%;
          float: none;
        }
    }
    