
      /* Copied and refactored code from Challenge 1 */
      
      /* Create CSS variables at the root of the document to be used throughout the style sheet */
      :root {
        --white: #fff;
        --funky-blue: #8dc5cd;
        --black: #2d3336;
        /* You can use it with any value that is repeated throughout the sheet */
        --border-radius: 50px;
      }


      /* Add styles for the body of the page */
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

      /* Add styles for the header */
    header {
        background-color: #333;
        color: var(--white);
        display: flex;
        justify-content: space-between;
        padding: 20px;
        align-items: center;
    }

    .header {
        padding: 15px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: var(--black);
        
        display:flex;
        
    }
    .header h1 {
        display:inline-block;
        font-size: 48px;
        background-color: var(--funky-blue);
        /* padding-left: 10px; */
        padding-right: 20px;
        color: var(--black);
        
    }

      /* Add styles for the navigation menu */
    nav {
        display: flex;
    }

    .header nav a {
        color: var(--funky-blue);
        padding: 17px;
        font-size: 20px;
    }

    /* Adds a flower banner at top */
    .hero {
        height: 120px;
        width: 100%;
        margin-bottom: 20px;
        background-image: url("../images/red-spider-lily.jpg");
        background-size: cover;
        background-position: center;
    }
      /* Add styles for the main content */
    main {
        padding: 20px;
    }

    .me img{
      display:block;
      margin: 0 auto;
      width: 25%;
      height: 25%;
    }

      /* Add styles for the about section */
    .sizing {
        background-color: #f2f2f2;
        padding: 20px;
    }

    .sizing h2{
      font-size: 35px;
    }

    .sizing p{
      line-height: 200%;
    }
 
    #contact-me a{
      padding: 50px;
      margin: 0 1em;
      margin-left: 50px;
      text-align: center;
    }
   
    .center {
      text-align: center;   
    }  

    #resume a {
      padding: 50px;
      margin: 0 1em;
      margin-left: 510px;
      /* flex-basis: 20%; */
      text-align: center;
    }
    
    .first-proj{
        flex-wrap: wrap;
    }
    
    /* Add styles for the project images */
    .first-proj img{
        padding-bottom: 20px;
        display: block;
        width: 99.7%;
        position: relative;
        z-index: 1;
    }

    .card {
        display: flex;
        flex-wrap: wrap;
    }
    
    /* Add styles for the project images */
    .card img {
        display:block;  
        padding-bottom: 20px;
        float:left;
        display: block;
        width: 49.2%;
        position: relative;
        z-index: 1;
    }  
    

      /* Add styles for the work section */
    .work {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
    }

      /* Add styles for the footer */
    footer {
        background-color: #333;
        color: var(--white);
        display: flex;
        justify-content: center;
        padding: 20px;
        align-items: center;
    }

    /* Makes is so all elements can accomodate screen sizes smaller than 768px */
    @media only screen and (max-width: 768px) {
      #contact-me a {
        display: block;
        width: 65%;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .me img{
        width: 30%;
        height: 30%;
      }
      #resume a {
        padding: 50px;
        margin: 0 1em;
        margin-left: 205px;
        /* flex-basis: 20%; */
        text-align: center;
      }
    }
    
      /* Add media queries for responsive design */
      @media only screen and (max-width: 600px) {
        header {
          flex-direction: column;
          text-align: center;
        }

        nav {
          justify-content: center;
        }


    }


